// import fonts
@import url("https://fonts.googleapis.com/css?family=Limelight");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');



@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section


// main colors
$color-1: #323232; //darkest black
$color-2: #d4a45d; // mustard yellow
$color-3: #676565; // darkest grey
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// secondary colors

$secondary-1: #5a5a5a; // lighter black
$secondary-2: #989898;  // lighest black
$secondary-3: #e3c599;  // lighest yellow
$secondary-4: #deb887;  // lighter yellow
$secondary-5: #808080;  // lighter charcoal
$secondary-6: #a6a6a6;  // lightest charcoal
$secondary-7: #f3f3f3;  // lightest grey
$secondary-8: #d9d9d9;  // lighter grey
$secondary-9: white;  // white
$secondary-10: #f2f2f2;  // darker white
$secondary-11: #800000; //maroon
$secondary-12: #8c1919; //lighter maroon


$sucess: white;

// fonts

// specify like : font-family: 'Montserrat', sans-serif;
$heading-font: "Limelight", cursive;
$paragraph-font: 'Montserrat', sans-serif;
$cursive-script: 'Dancing Script', cursive;

/* --------------------------------

xBackground

-------------------------------- */

$logo-image: url("../assets/branding/gatsby-logo-edited.jpg");
$opacity: .3;

#css-zen-garden{
	background-image: $logo-image;
	background-repeat: no-repeat;
	background-position: center;
}

body{
	/* this is the page background */
	// we will use this as our background (the darkest black)
}

header{
	background-color: $secondary-7;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

header > h1{
	font-size: 35px;
	letter-spacing: 5px;
}


.page-wrapper{
	// background-image: $logo-image;

}

.summary{
	width: 100%;
	padding: 30px;
	margin-top: 5px;
}
.preamble{
	float: right;
	width: 30%;
	background-color: $secondary-11;
	padding: 90px;
	margin-top: 5px;
	border-radius: 50%;
	border-style: dotted;
	border-color: $secondary-4;
	border-width: thick;
}
.preamble > p{
	padding-left: 28px;
}
.preamble > h3{
	padding-left: 28px;
}
.explanation{
	width: 100%;
	padding-left: 30px;
	margin-top: 5px;
}
.participation{
	width: 50%;
	border-style: dotted;
	padding-left: 30px;
	margin-top: 60px;
	margin-left: 15px;
}
.requirements{
	width: 30%;
	padding: 30px;
	margin-top: 5px;
}
.benefits{
	// stuff
}



footer {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 200px;
	height: 110px;
	background: $secondary-6;
	position: relative;
}
footer:before {
	content: "";
	position: absolute;
	top: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 50px solid $secondary-6;
}
footer:after {
	content: "";
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid $secondary-6;
}

#zen-benefits > p{
	color: black;
}
/* --------------------------------

xPatterns

-------------------------------- */


/* --------------------------------

xNavigation

-------------------------------- */

.design-selection ~ li {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
	// background-color: $color-2;
}

// /* --------------------------------
//
// xPage title
//
// -------------------------------- */
//
// main > h1 {
// 	color: $color-2;
//
// 	@include MQ(L) {
// 		/* title goes into the header on big devices */
// 		color: $color-5;
// 	}
// }
//
/* --------------------------------

xTypography

-------------------------------- */
h1, h2{
	font-family: $heading-font;
	color: $color-2;
}
h3{
	font-family: $cursive-script;
	font-size: 40px;
}

p{
	font-family: $heading-font;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: $secondary-5;
	font-style: italic;
}

/* --------------------------------

xButtons

-------------------------------- */

/* --------------------------------

xIcons

-------------------------------- */



/* --------------------------------

xForm

-------------------------------- */

@import 'partials/basic-style';
