// import fonts
@import url("https://fonts.googleapis.com/css?family=Limelight");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");



@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section


// main colors
$color-1: #323232; //darkest black
$color-2: #d4a45d; // mustard yellow
$color-3: #676565; // darkest grey
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// secondary colors

$secondary-1: #5a5a5a; // lighter black
$secondary-2: #989898;  // lighest black
$secondary-3: #e3c599;  // lighest yellow
$secondary-4: #deb887;  // lighter yellow
$secondary-5: #808080;  // lighter charcoal
$secondary-6: #a6a6a6;  // lightest charcoal
$secondary-7: #f3f3f3;  // lightest grey
$secondary-8: #d9d9d9;  // lighter grey
$secondary-9: white;  // white
$secondary-10: #f2f2f2;  // darker white
$secondary-11: #800000; //maroon
$secondary-12: #8c1919; //lighter maroon


$sucess: white;

// fonts

// specify like : font-family: 'Montserrat', sans-serif;
$heading-font: "Limelight", cursive;
$paragraph-font: 'Montserrat', sans-serif;

/* --------------------------------

xBackground

-------------------------------- */

$logo-image: url("../assets/branding/gatsby-logo-edited.jpg");
$opacity: .3;

#css-zen-garden{
	background-image: $logo-image;
	background-repeat: no-repeat;
	background-position: center;
}

body{
	/* this is the page background */
	// we will use this as our background (the darkest black)
}

header{
	background-color: $secondary-7;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

header > h1{
	font-size: 35px;
	letter-spacing: 5px;
}


.page-wrapper{
	// background-image: $logo-image;

}

.summary{
	width: 30%;
	background-color: $secondary-4;
	padding: 30px;
	margin-top: 5px;
}
.preamble{
	width: 30%;
	background-color: $secondary-11;
	padding: 30px;
	margin-top: 5px;
}
.explanation{
	width: 30%;
	background-color: $secondary-5;
	padding: 30px;
	margin-top: 5px;
}
.participation{
	width: 30%;
	background-color: $secondary-4;
	padding: 30px;
	margin-top: 5px;
}
.benefits{
	width: 30%;
	background-color: $secondary-6;
	padding: 30px;
	margin-top: 5px;
}
.requirements{
	width: 30%;
	background-color: $secondary-12;
	padding: 30px;
	margin-top: 5px;
}

/* --------------------------------

xPatterns

-------------------------------- */


/* --------------------------------

xNavigation

-------------------------------- */

header {
	// background-color: $color-2;
}

// /* --------------------------------
//
// xPage title
//
// -------------------------------- */
//
// main > h1 {
// 	color: $color-2;
//
// 	@include MQ(L) {
// 		/* title goes into the header on big devices */
// 		color: $color-5;
// 	}
// }
//
/* --------------------------------

xTypography

-------------------------------- */
h1, h2, h3{
	font-family: $heading-font;
	color: $color-2;
}

p{
	font-family: $paragraph-font;
	color: $secondary-6;
}
/* --------------------------------

xButtons

-------------------------------- */

/* --------------------------------

xIcons

-------------------------------- */



/* --------------------------------

xForm

-------------------------------- */

@import 'partials/basic-style';
