header[role="banner"]{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header{
	background-color: $secondary-7;
	padding-top: 30px;
	padding-bottom: 30px;
}

header > h1{
	font-size: 100px;
	letter-spacing: 10px;
	@media (max-width: $S) {
		font-size: 30px;
	}
}

.summary{
	padding: 30px;
	margin-top: 5px;
}
.summary > p:nth-child(1){
	font-size: 40px;
	@media (max-width: $S) {
		font-size: 20px;
	}
}
.summary > p:nth-child(2){
	text-align: center;
}
.preamble{
	float: right;
	width: 30%;
	background-color: $secondary-11;
	padding: 90px;
	margin-top: 5px;
	border-radius: 50%;
	border-style: dotted;
	border-color: $secondary-4;
	border-width: thick;
	@media (max-width: $M) {
		border-radius: 0;
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
.preamble > p{
	padding-left: 28px;
}
.preamble > h3{
	padding-left: 28px;
}
.explanation{
	padding-left: 30px;
	margin-top: 5px;
	@media (max-width: $M) {
		border-radius: 0;
		float: none;
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
}
.participation{
	width: 50%;
	border-style: dotted;
	border-color: $secondary-4;
	padding-left: 30px;
	margin-top: 60px;
	margin-left: 15px;
	@media (max-width: $M) {
		border-radius: 0;
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
.requirements{
	margin-top: 5px;
	margin-left: 30px;
	@media (max-width: $S) {
		margin: 0;
	}
}
.requirements > h3{
	font-size: 70px;
	text-align: center;
	color: $secondary-11;
}
.benefits{
	margin-right: 50px;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: $secondary-4;
	width: 40%;
	float: right;
	border-radius: 30px;
	@media (max-width: $M) {
		float: none;
		width: 100%;
		margin: 0;
		padding-top: 5px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 5px;
	}
}



footer {
	margin-top: 170px;
	margin-bottom: 50px;
	width: 200px;
	height: 110px;
	background: $secondary-6;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
footer:before {
	content: "";
	position: absolute;
	top: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 50px solid $secondary-6;
}
footer:after {
	content: "";
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid $secondary-6;
}

footer > a{
	color: black;
	font-family: $paragraph-font;
	font-size: 20px;
}

#zen-benefits > p{
	color: black;
}

.design-selection ~ li {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1, h2{
	font-family: $heading-font;
	color: $color-2;
}
h3{
	display: flex;
	justify-content: center;
	font-family: $cursive-script;
	font-size: 40px;
	@media (max-width: $S) {
		justify-content: flex-start;
	}
}

p{
	font-family: $heading-font;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: $secondary-5;
	font-style: italic;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	@media (max-width: $S) {
		display: flex;
		flex-direction: column;
	}
}

ul {
	list-style: none;
	padding: 0;
}
li{
	border-left: 6px solid $secondary-11;
	height: inherit;
	padding-left: 5px;
}
